*{
--black: #212121;
--blue: #2196F3;
--white: #ffffff;
--gray: #2F303A;

}

body{
    font-family:'Roboto',
    sans-serif;
    color: var(--black);
}
 body input,
a{
     cursor:pointer;
    color: var(--black);
    text-decoration: none;
     
}
}
body .title{
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   
}
body .info,
.container-photo ul p{
    font-size: 16px;;

}
 body a:hover,
 :focus,
 :active {
    color: var(--blue)

}
.button:hover,
:focus,
:active,
.button-mainsite
{
    color: var(--white);
    background-color:var(--blue);
}
.logo-site{
    font-family: 'Raleway',
    sans-serif;
    font-weight: 700;
    color: var(--white);
    font-size: 26px;
}

.logo-site span{
    color: var(--blue);

}
header .logo-site{
    color: var(--black)
}
.main-text{
    font-weight: 900;
    text-transform: uppercase;
    font-size: 44px;
    line-height: 1,36;
    color:var(--white)
    
}
.title-h3{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
}
.title-h2{
    font-weight: 700;
    font-size: 36px;

}
.container-photo ul h3{
    font-weight: 500;
    font-size: 16px;
}
.button-mainsite{
font-size: 16px;
font-weight: 700;
}
.button{
    font-size: 16px;
    font-weight: 500;
}
.main-article,
address {
    line-height: 1.714;

}
.info{
    line-height: 1.875;
}
footer{
    line-height: 2;
    background-color: var(--gray) ;
    color: var(--white);
    padding:100px 50px ;
}
.logo-site{
    line-height: 0.085;
}
.footer-link{
    color: rgba(100%, 100%, 100%, 60%);
}

.index-main{
background-color: var(--gray);
padding: 200px 452px 280px 452px;
}
